* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}

/* NAVBAR ============================== */

nav {
    /* display: flex;
    justify-content: space-between;
    padding: 2em 4em;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300; */
    height: 10vh;
    background-color: #FDF8F5;
    color: #4F4846;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 50%;
    height: 100%;
    margin-left: auto;
    cursor: pointer;
}

.nav-link {
    color: #4F4846;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #DDAF94;
}

.contact-box {
    color: #266150;
    background: #FDF8F5;
    padding: 0.5em 1em;
    border: 1px solid #266150;
    text-decoration: none;
    opacity: 1;
}

.contact-box:hover,
.contact-box:focus {
   color: #FDF8F5;
   background-color: #266150;
   opacity: 1;
   transition: 0.3s;
}

@media screen and (max-width: 768px) {

    .line {
        width: 25px;
        height: 2px;
        background: #4F4846;
        margin: 5px;
    }

    nav {
        position: relative;
        align-items: stretch;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 5;
        color: #4F4846;
        
    }

    .nav-links {
        position: absolute;
        background: #FDF8F5;
        color: #4F4846;
        text-transform: uppercase;
        height: 35vh;
        width: 100%;
        flex-direction: column;
        padding: 3em;
        transition: all 1s ease-out;
    }

    .link + .link {
        padding-top: 2em;
    }

    
}

/* HERO ================================ */

.hero {
    height: 90vh;
    background-color: #DDAF94;
    display: flex;
    align-items: center;
}

.hero-text {
    background-color: #DDAF94;
    color: #FDF8F5;
    width: 70%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    line-height: 2;
    align-items: stretch;
    font-size: 34px;
    font-weight: 300;
    padding-left: 3em;
}

.hero-button {
    text-decoration: none;
    color: #266150;
    border-bottom: 1px solid #266150;
    padding-top: 2em;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}

.hero-link {
    text-decoration: none;
}

.hero-button:focus,
.hero-button:active {
    color: #FDF8F5;
}

.hero-button:after {
    content: '';
    border-bottom: 1px solid #266150;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.hero-button.fromLeft:after {
    transform-origin: 0% 50%;
}

.main-text {
    padding-top: 4em;
}



@media screen and (max-width: 768px) {

    
    .hero-text {
        font-size: 20px;
        border: none;
        width: 100%;
        padding-top: 4em;
        height: 50vh;
        /* border-bottom: 1px solid #4F4846;  */
    }

    .hero {
        height: 50vh;
    }
}

/* ABOUT =================================== */

.about-section {
    height: 50vh;
    background: #FDF8F5;
    color: #4F4846;
}

/* Contact =================================== */

.social-icon {
    color: #FDF8F5;
}

.social-links {
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 14px;
}

.icon + .icon {
    padding-left: 3em;
}

/* PORtFOLIO ====================================== */

.portfolio-card {
    width: 31%;
    position: relative;
    border: 1px solid #266150;
    margin: 1em;
    font-size: 25px;
    text-align: center;
}

.portfolio-card:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.portfolio-container {
    display: flex;
    height: 90vh;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
  }

  .card-button {
    display: inline-block;
    text-transform: uppercase;
    border: none;
    padding: 0.75rem 1rem;
    margin: 0;
    text-decoration: none;
    background: #266150;
    color: #DDAF94;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.card-button:hover,
.card-button:focus {
    background: #DDAF94;
    color: #266150;
    border: 1px solid #266150;
    
}

.card-button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.card-button:active {
    transform: scale(0.99);
}

.card-text {
    font-size: 18px;
    border-top: 1px solid #266150;
    
}

@media screen and (max-width: 768px) {

    
    .portfolio-container {
        font-size: 20px;
        border: none;
        width: 100%;
        padding-top: 5em;
        
        height: 90vh;
        display: flex;
        flex-direction: column;
        margin-top: 2em;
    }

    .portfolio-card {
        width: 31%;
        font-size: 15px;
    }

    .portfolio-card:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .hero {
        height: 90vh;
    }

    .card-text {
        display: none;
    }


    
}