* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF5F5;
    color: #3C4FFA;
}

/* NAVBAR ============================== */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-link + .nav-link {
    padding-left: 4em;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #6f7dfc;
    cursor: pointer;
}

/* HERO ================================ */

.left-hero {
    position: absolute;
    width: 243px;
    height: 76px;
    left: 208px;
    top: 388px;
    font-size: 18px;
    line-height: 2;
}

.right-hero { 
    position: absolute;
    width: 485px;
    height: 181px;
    left: 576px;
    top: 259px;
    font-size: 24px;
    line-height: 2;
    border-left: 1px solid blue;
    padding-left: 1em;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
    height: 50vh;
}

.portfolio-link {
    margin-top: 3em;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #3C4FFA;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
}

.social-icon:hover,
.social-icon:focus {
    color: #6f7dfc;
    cursor: pointer;
}